<div>
    <h1>Activity</h1>
    <label for="type">Tipo</label>
    <select name="tipo" id="tipo" [formControl]="tipo">
        <option value="recreational">recreational</option>
        <option value="social">social</option>
        <option value="relaxation">relaxation</option>
        <option value="busywork">busywork</option>
        <option value="education">education</option>
        <option value="diy">diy</option>
        <option value="charity">Charity</option>
        <option value="Cooking">Cooking</option>
    </select>
    <label for="partecipanti">Partecipanti</label>
    <input type="number" [formControl]="partecipanti">
    <br>
    <label for="prezzo">Prezzo</label>
    <input type="range" id="prezzo" min="0" max="1" step="0.1" [formControl]="prezzo">
    <button (click)="sendActivity()" routerLink="/list">Invia</button>
</div>